<div class="container">


    <table class="table table-hover table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Stock Symbol</th>
              <th scope="col">Details</th>
              <th scope="col">Graph</th>
            </tr>
        </thead>
                <% stocks.forEach(function (stock) { %>
                <tr>
                    <td> <%= stock %>  </td>
                    <td> <a href="/stock/<%= stock %>"> View </a></td>
                    <td> <a href="/graph/<%= stock %>"> View </a></td>
                </tr>
                <% }) %>

    </table>


</div>
