<div class="container">
    <div class="perfect-centering">
        <div class="alert" style="color:red;">
             <%= msg %>
        </div>
            <h1 style="color:yellow;">Search Stock Details</h1>
            <form class="form-inline md-form mr-auto mb-4" action="/dfind" method="get">
                <input type="text" name="stock" value="Enter Stock Symbol" class="form-control">
                <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>



    </div>
</div>
