<div class="container">
    <div class="perfect-centering the-basics">
        <div class="alert" style="color:red;">
             <%= msg %>
        </div>
    <div class="row">
        <div class="col-md-7">
            <h1>Search Stock Details</h1>
            <form class="form-inline md-form mr-auto mb-4" action="/dfind" method="get">
                <input type="text" name="stock" value="Enter Stock Symbol" class="form-control">
                <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-6">
            <h1>Search Stock Graph</h1>
            <form class="form-inline md-form mr-auto mb-4" action="/gfind" method="get">
                <input type="text" name="stock" value="Enter Stock Symbol" class="form-control">
                <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>
        </div>
    </div>

    </div>
</div>
